* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > div {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > div > img + p {
  margin-left: 1rem;
}

img {
  width: 100px;
}

nav {
  background-color: lightcoral;
  height: 10vh;
  line-height: 10vh;
}

h1 {
  display: inline-block;
  margin-left: 0.8rem;
}

nav > p {
  display: flex;
  justify-content: space-around;
}

main {
  width: 90vw;
  margin: 0 auto;
}

article > section {
  text-align: center;
  margin-block: 1rem;
}

main > section {
  text-align: center;
  margin-block: 1rem;
}

h1 + p {
  font-size: 0.8rem;
  margin-block: 0.5rem;
}

.table {
  display: flex;
  justify-content: center;
}

.liste {
  display: flex;
  justify-content: center;
}

ul,
ol {
  text-align: left;
}

li::marker {
  color: lightcoral;
  font-size: 1.3rem;
}

.parag-articolo {
  margin-block: 3rem;
}

li {
  width: 100%;
  margin-block: 0.7rem;
}

.titlo-articolo {
  margin-block: 4rem;
}

.fine-liste {
  margin-top: 4rem;
}

caption {
  margin-block: 1rem;
}

td,
th {
  border: 1px solid rgb(1, 1, 1);
  padding: 3px;
}

.descrizione-parag {
  margin-block: 2rem;
}

.fine-articolo {
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

label {
  margin-block: 0.8rem;
}

input,
button {
  text-align: center;
  border-radius: 16px;
  padding: 3px;
}

button {
  margin-top: 0.8rem;
}

aside {
  display: flex;
  justify-content: space-around;
  margin-block: 2rem;
}

footer {
  padding: 1rem;
  background-color: rgb(1, 1, 1);
  color: rgba(254, 254, 254, 1);
  min-height: 20vh;
}

footer > div {
  display: flex;
  justify-content: center;
  line-height: 20vh;
}
